# Bundlers
abi/
artifacts/
cache/
node_modules/
types/
coverage/
exports/
coverage.json

# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/unknown-1337.json
.openzeppelin/.session

# Dev Setup
contracts.dev.json
.env
.DS_Store