# Bundlers
abi/
artifacts/
cache/
node_modules/
types/
coverage/
exports/
coverage.json

# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/unknown-*.json
.openzeppelin/.session

# Dev Setup
contract-addresses.dev.json
.env
.DS_Store